.panel{
	width: 500px;
	font-family: Verdana;
	margin-top: 10px;
}

.panel-heading{
	font-size: 20px;
}

.panel img{
	width: 20%;
}

.panel-body table{
	width: 100%;
	font-size: 15px;
	line-height: 25px;
}

.panel-footer{
	font-size: 12px;
	background-color: #d9edf7;
}